/*
// orange: #f06226
// blue: #199fdb;
// white: #fff;
// black: #000;*/
*
{
	box-sizing: border-box;
}

body
{
	background: #f06226;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

#container
{
	width: 60%;
	background: #199fdb;
	margin: 20px auto;
	padding: 10px 20px;
}
header
{
	text-align: center;
	border-bottom: 1px dashed white;
}

header h1
{
	margin: 5px 0;
}

header p
{
	color: black;
}
section
{

}

input[type='submit']
{
	border: 0;
	padding: 10px;
	margin-top: 20px;
	color: white;
	background: #f06226;
	cursor: pointer;
}

footer
{
	text-align: center;
}